{% extends "base.html" %}

{% block content %}

<div class="row">

	<div class="column-12">

		<h2>Set Name Goes Here</h2>

	</div>
	
</div>

<div class="row column-list">

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x178" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in landscape
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrait
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x178" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in landscape
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrait
		</div>
	</div>

	<div class="gallery-item reset column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrait
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x178" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in landscape
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrait
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrain
		</div>
	</div>
	
</div>

{% endblock %}