{% extends "base.html" %}

{% block content %}

<div class="row">

	<div class="column-12">

		<h2>{{ photo_set.name }}</h2>

	</div>

</div>

<div class="row column-list">

	{% for photo in photo_list %}
		<div class="gallery-item column-3">
			<div class="gallery-item-image">
				<img src="{{ MEDIA_URL }}{{ photo.size.small}}" alt="{{ photo.title }}" />
			</div>
			<div class="gallery-item-meta">
				{{ photo.title }}
			</div>
		</div>
	{% endfor %}

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x178" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in landscape
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrait
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x178" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in landscape
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrait
		</div>
	</div>

	<div class="gallery-item reset column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrait
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x178" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in landscape
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrait
		</div>
	</div>

	<div class="gallery-item column-3">
		<div class="gallery-item-image">
			<img src="http://placehold.it/238x317" />
		</div>
		<div class="gallery-item-meta">
			4:3 image in portrain
		</div>
	</div>

</div>

{% endblock %}