{% extends "base.html" %}


{% block content %}

	<div class="row">

		<div class="column-12">
			<h2>Photo Name</h2>
		</div>

	</div>

	<div class="row">

		<div class="column-12">

			<img src="http://placehold.it/1140x855" alt="image title" />

		</div>

	</div>

	<div class="row">

		<div class="column-12 set-preview">

			<img src="http://placehold.it/50x50" />
			<img src="http://placehold.it/50x50" class="selected" />
			<img src="http://placehold.it/50x50" />
			<img src="http://placehold.it/50x50" />
			<img src="http://placehold.it/50x50" />

		</div>

	</div>

{% endblock %}